* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
  color: var(--bool-lighter);
}



/* #region utilities */
:root {
  --bool-primary: #ff6900;
  --bool-lighter: #ffff;
  --bool-dark: #1a1a1a;
  --bool-sconti: #ff0000;
  --bool-detail: #008000;
}

.details{
  background-color: var(--bool-detail);
  padding: 0.5rem 1rem;
}

.discount{
  background-color: var(--bool-sconti);
  padding: 0.5rem 1rem;
}

.d-flex {
  display: flex;
}

.container {
  width: 1380px;
  margin: auto;
}


/* #endregion utilities */

/* #region Header */
header {
  align-items: center;
  background-color: var(--bool-primary);
  height: 74px;
  box-shadow: 0 0 5px;
  margin-bottom: 3rem;

  .d-flex {
    justify-content: space-between;
    align-items: center;

  }

  img {
    width: 135px;
  }

  .actions {
    color: var(--bool-lighter);
    gap: 1rem;
  }

  .categories {
    gap: 1rem;

    a {
      font-weight: 800;
    }
  }

}

/* #endregion Header */

/* #region main */

section {
  flex-wrap: wrap;
  gap: 1rem;
}


.card {

  margin-bottom: 2rem;
  position: relative;

  img {
    width: 447px;
    height: 645px;
  }

  .price {
    display: inline-block;
    color: red;
    font-weight: 700;
  }

  span {
    margin-left: 2px;
    text-decoration: line-through;
  }

  
  .tag{
    color: white;
    font-weight: 800;
    text-align: center;
    position: absolute;
    bottom: 120px;
    left: 0;
    gap: 1rem;
  }

  .heart{
    font-size: 2rem;
    padding: 0.5rem;
    background-color: white;
    position: absolute;
    right: 0;
    top:1rem;
  }

  

}

/* #endregion main */

/* footer */

footer {
  height: 110px;
  background-color: var(--bool-dark);
  align-items: center;

  .d-flex {
    justify-content: space-between;
    color: var(--bool-lighter);
  }

  a {
    font-size: 0.75rem;
  }

  .social-icon{
    margin-top: 1rem;
    gap: 1rem;    
  }

}